*
{
    margin: 0;
    padding: 0;
}

.container
{
    margin: 0 auto;
    max-width: 1600px;
}

header
{
    padding-top: 88px;
}

.headerBlock
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.headerBox
{
    margin-left: 200px;
    margin-right: 200px;
    height: 2px;
    background-color: #c2c2c2;
}

@media (max-width: 1200px)
{
    .headerBlock
    {
        grid-template-columns: 1fr 1fr;
    }
    
    .headerBox
    {
        margin-left: 150px;
        margin-right: 150px;
    }
}

@media (max-width: 700px)
{
    .headerBlock
    {
        grid-template-columns: 1fr;
    }
    .headerBox
    {
        margin-left: 100px;
        margin-right: 100px;
    }
}

.headerUnit
{
    width: 290px;    
    margin-bottom: 20px;
}

.headerUnit img
{
    float: left;    
}

.headerUnit img:hover
{
    transform: scale ( 1.2, 1.2 );
}

.headerUnit h2
{
    margin-left: 70px;
    margin-top: 7px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;    
}

.headerUnit h3
{
    margin-left: 70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;    
}

.headerMenu
{
    display: flex;
    justify-content: space-around;
}

.headerMenu nav
{
    margin-left: 180px;
    margin-top: 33px;
    margin-bottom: 36px;
    display: inline-block;
}

.headerMenu nav ul
{
    list-style: none;
}

.headerMenu nav ul a
{
    text-decoration: none;
    color: #6c6c6c;
}

.headerMenu nav ul a:hover
{
    text-decoration: none;
    color: #262626;
}

.headerMenu nav ul li
{
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    font-family: Nexa;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.headerMenu address
{
    margin-top: 33px;
    margin-bottom: 36px;
    margin-right: 60px;
    margin-left: auto;
    display: inline-block;
}

.headerMenu address img
{
    margin-left: 10px;
    margin-right: 10px;
}

.headerMenu address img:hover
{
    transform: scale(1.2, 1.2);
}

@media ( max-width: 1200px )
{
    .headerMenu nav
    {
        margin-left: 15px;
    }
    
    .headerMenu address
    {
        margin-right: 15px;
    }
}

@media (max-width: 1000px)
{
    .headerMenu
    {
        display: block;    
    }
    
    .headerMenu nav
    {
        margin-left: 15px;
        margin-right: 15px;
        display: block;
    }
    
    .headerMenu address
    {
        margin-left: 15px;
        margin-right: 15px;
        display: block;
    }
        
}

.description_div
{
    padding: 180px 200px 0 200px;
    height: 460px;
    background-image: url('img/description_back.jpg');
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    grid-gap: 100px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 460px;
}

@media (max-width: 1200px)
{
    .description_div
    {
        padding: 100px 100px 0 100px;
        height: 540px;
        grid-template-rows: 540px;
        grid-gap: 60px;
    }
}

@media (max-width: 1000px)
{
    .description_div
    {
        padding: 15px 15px 0 15px;
        height: 625px;
    }
}

.descriptionBlock
{
    text-align: center;    
}

.descriptionBlock h1
{
    font-family: Montserrat;
    font-size: 48px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.2px;
    text-align: center;
    color: #474747;    
}

.descriptionBlock p
{
    margin-top: 37px;
    margin-bottom: 42px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: normal;
    text-align: center;
    color: #3f3f3f;    
}



.hints_div
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows:  minmax( 360px, auto );
}

@media (max-width: 1200px)
{
    .hints_div
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px)
{
    .hints_div
    {
        grid-template-columns: 1fr;
    }
}

.hint
{
    padding: 74px 70px 57px 70px;
    text-align: center;
}

.hintRing
{
    width: 76px;
    height: 76px;
    line-height: 76px;
    background-color: #ffffff;
    border-radius: 38px;
    margin: 0 auto;
    text-align: center;
}

.hintRing img
{
    vertical-align: middle;
}

.hint h2
{
    margin-top: 23px;
    margin-bottom: 29px;
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;    
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.75px;
    text-align: center;
    color: #ffffff;    
}

.hint p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.hint1
{
    background-color: #43b1d2;  
}

.hint2
{
    background-color: #3fb6c6;    
}

.hint3
{
    background-color: #3cbbbb;   
}

.hint4
{
    background-color: #37c3a8;   
}


.whyChooseUs_div
{
    text-align: center;
}

.whyChooseTitle
{
    justify-content: center;    
}

.whyChooseTitle h2
{
    margin-top: 111px;
    margin-bottom: 31px;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #494949;    
}

.whyChooseTitleDesc
{
    margin: 0 auto;
    margin-bottom: 25px;
    max-width: 880px;
}

.whyChooseTitleDesc p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    color: #6a6a6a;
}

.whyChooseBlock
{
    display: grid;
    grid-template-columns: 490px 337px 490px;
    grid-template-rows: repeat(2, 299px);
    justify-items: center;
    justify-content: center;    
}

@media (max-width: 1300px)
{
    .whyChooseBlock
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 1000px)
{
    .whyChooseBlock
    {
        grid-template-columns: 1fr;
    }
}

.whyChoose
{
    display: grid;
    grid-gap: 19px;
    grid-template-columns: 76px 287px;
    grid-template-rows: 76px 1fr;
    padding: 91px 43px 72px 81px;
}

@media (max-width: 1200px)
{
    .whyChoose
    {
        padding: 40px 40px 40px 40px;    
    }
}

.whyChoosePhoto
{
    grid-column: 2/3;
    grid-row: 1/3;
}

@media (max-width: 1200px)
{
    .whyChoosePhoto
    {
        grid-column: 1/-1;
        grid-row: 1/3;
    }
}

.whyChoose h3
{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.75px;
    align-self: center;
    text-align: left;
    color: #6f6f6e;   
}

.whyChooseText
{
    grid-column: 1/-1;    
}

.whyChoose p
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;
}

.whyChooseRing
{
    margin: 0 auto;
    width: 76px;
    height: 76px;
    line-height: 76px;
    background-color: #1a9bdc;
    border-radius: 38px;
    text-align: center;
}

.whyChooseRing img
{
    vertical-align: middle;
}


.opportunity_div
{
    padding: 120px;
    display: grid;
    background-color: #0080b8;
    background-image: url('img/opportunity_back.jpg');
    background-position: top;
    background-repeat: repeat-y;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-auto-rows: 346px;
    text-align: center;
}

@media (max-width: 1260px)
{
    .opportunity_div
    {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 1260px)
{
    .opportunity_div
    {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 80px;
    }
}

@media (max-width: 650px)
{
    .opportunity_div
    {
        grid-template-columns: 1fr;
    }
}

.opportunityRing_div
{
    height: 120px;
    line-height: 120px;
}

.opportunityRing_div img
{
    vertical-align: middle;
}

.opportunity_div section h2
{
    margin-top: 37px;
    font-family: Montserrat;
    font-size: 60.5px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1.51px;
    text-align: center;
    color: #ffffff;    
}

.opportunityBox
{
    margin: 26px auto 27px;
    width: 84px;
    height: 6px;
    background-color: white;
}

.opportunity_div section p
{
    margin: 0 auto;
    width: 130px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.63px;
    text-align: center;
    color: #ffffff;    
}

.howWeWorks_div
{
    padding: 100px 40px 100px 40px;
    display: grid;
    grid-gap: 41px;
    grid-template-columns: 334px 334px 1fr;
    grid-template-rows: 200px 434px 54px;
}

.howWeWorksTitle
{
    grid-column: 1/3;  
    grid-row: 1/2;
}

.ourCreative
{
    grid-column: -2/-1;
    grid-row: 1/-1;
}

.howWeWorksReadMore
{
    grid-column: 1/3;
    grid-row: -2/-1;
}

@media (max-width: 1200px)
{
    .howWeWorks_div
    {
        grid-template-columns: minmax(334px, 400px) 1fr;
        grid-template-rows: 200px 434px 434px 54px;
    }
    
    .howWeWorksTitle
    {
        grid-column: 1/2;  
        grid-row: 1/2;
    }

    .howWeWorksReadMore
    {
        grid-column: 1/2;
    }
}

@media (max-width: 900px)
{
    .howWeWorks_div
    {
        grid-template-columns: 1fr;
        grid-template-rows: 200px 434px 434px minmax(0, auto) 54px;
    }
    
    .ourCreative
    {
        grid-row: -3/-2;
    }
    
    .howWeWorksReadMore
    {
        grid-row: 5/6;
    }
}

.howWeWorksTitle p,
.ourCreativeDesc
{
    margin-top: 38px;
    margin-bottom: 13px;
}

.ourCreativeArticle
{
    margin-top: 19px;
    margin-bottom: 40px;
}

.howWeWorksTitle h2,
.ourCreative h2
{
    font-family: Montserrat;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #494949;    
}

.howWeWorksTitle p,
.ourCreativeDesc,
.ourCreativeArticle
{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;    
}

.howWeWorksPar1
{
    margin-top: 35px;
    margin-bottom: 13px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: left;
    color: #6f6f6e;    
}

.howWeWorksPar2
{
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.38px;
    text-align: left;
    color: #0087be;    
}

.howWeWorksPar3
{
    margin-top: 27px;
    margin-bottom: 12px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: left;
    color: #6a6a6a;    
}

.ourCreativeStrip
{
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 7px;
    border-radius: 27px;
    height: 42px;
    line-height: 40px;
}

.ourCreativeStrip a
{
    text-decoration: none;
}

.ourCreativeStripActive a
{   
    color: #ffffff;    
}

.ourCreativeStripInactive a
{
    color: #494949;    
}

.ourCreativeStripRing
{
    margin-right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    float: left;
}

.ourCreativeStripRing img
{
    vertical-align: middle;
}

.ourCreativeStrip p
{
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    text-align: left;
}

.ourCreativeStripActive
{   
    background-color: #0087be; 
}

.ourCreativeStripInactive
{
    background-color: #e2e2e2;
}

.gallery_div
{
    padding: 94px;
    text-align: center;
    background-image: url('img/gallery_back.jpg');
    background-position: top;
    background-repeat: repeat-y;
}

.galleryTitle h2
{
    margin-bottom: 38px;
    font-family: Montserrat;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.galleryTitleDesc
{
    margin: 0 auto;
    max-width: 1120px;
}

.galleryTitleDesc p
{
    margin-bottom: 54px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.galleryBlock
{
    display:grid;
    grid-gap: 40px;
    grid-template-columns: repeat(3, 343px);
    grid-auto-rows: 208px;
    justify-content: center;
}

.galleryBlockImg
{
    transition: all 0.5s;
}

.galleryBlockImg:hover
{
    transform: rotateY(180deg);
    transition-duration: 0.5s;
}

@media (max-width: 1300px)
{
    .galleryBlock
    {
        grid-template-columns: repeat(2, 343px);
    }
}

@media (max-width: 900px)
{
    .galleryBlock
    {
        grid-template-columns: 343px;
    }
}



.ourTeam_div
{
    padding-top: 148px;
    padding-bottom: 134px;
    text-align: center;
    min-height: 544px;
}

.ourTeamTitle h2
{
    font-family: Montserrat;
    font-size: 45px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #494949;
}

.ourTeamTitleDesc
{
    margin: 0 auto;
    max-width: 1120px;
}

.ourTeamTitleDesc p
{
    margin-top: 49px;
    margin-bottom: 84px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #6a6a6a;
}

.ourTeamBlock
{
    display:grid;
    grid-gap: 29px;
    grid-template-columns: repeat(auto-fit, minmax(335px, auto));
}

.ourTeamPhoto img
{
    height: 279px;
    width: 279px;
    border-radius: 139px;
}

.ourTeamPerson_div h3
{
    margin-top: 33px;
    margin-bottom: 15px;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #6f6f6e;    
}

.ourTeamPerson_div h4
{
    margin-bottom: 26px;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.45px;
    text-align: center;
    color: #6f6f6e;
}

.ourTeamPerson_social img
{
    margin-left: 10px;
    margin-right: 10px;
}

.ourTeamPerson_social img:hover
{
    filter: contrast(200%);   
}



.newPacientOffer_div
{
    min-height: 176px;
    padding-left: 220px;
    padding-right: 220px;
    background-color: #e2e2e2;
    display: grid;
    grid-gap: 77px;
    grid-template-columns: minmax(300px, 900px) 192px;
    align-items: center;
    justify-items: center;
}

@media (max-width: 1200px)
{
    .newPacientOffer_div
    {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.newPacientOfferDesc
{
    font-family: Montserrat;
    font-size: 30px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #494949;    
}



.readMore_div
{
    margin: 0 auto;
    width: 192px;
    height: 54px;
    line-height: 54px;
}

.readMoreButton
{
    width: 192px;
    height: 54px;
    border-radius: 27px;
    background-color: #0087be;
    box-shadow: -3.5px 11.5px 40px 0 rgba(0, 1, 1, 0.2);    
    font-family: Lato;
    font-size: 21.5px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.54px;
    text-align: center;
    color: #ffffff;    
}

.readMore_div a
{
    text-decoration: none;
    color: #ffffff;
}

.readMore_div a div
{
    transition: all 0.5s;
}

.readMore_div a div:hover
{
    background-color: blue;
}

.readMore_div a div:active
{
    background-color:cadetblue;    
}



.contact_div
{
    padding: 118px 100px 108px 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #808080;
    background-color: #171717;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
}

.contact_div section
{
    width: 300px;
}

.contact_div h3
{
    margin-top: 30px;
    margin-bottom: 67px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.55px;
    text-align: left;
    color: #ffffff;
}

@media (max-width: 1300px)
{
    .contact_div
    {
        grid-template-columns: repeat(2, 1fr);
    }
    .contact_div h3
    {
        margin-top: 50px;
        margin-bottom: 30px;
    }
}

@media (max-width: 900px)
{
    .contact_div
    {
        grid-template-columns: 1fr;
    }
}

.contactSubBlock
{
    margin-top: 57px;
    margin-bottom: 57px;
    height: 42px;
}

.contactSubBlock img
{
    float: left;
}

.contactSubBlock p
{
    margin-left: 83px;
}

.contact_div address img
{
    margin-left: 10px;
    margin-right: 10px;
    
}

.contact_div ul
{
    list-style-image: url('img/open.png');    
}

.contact_div ul li
{
    margin-top: 16px;
    margin-bottom: 16px;
    margin-left: 30px;
}

.contact_div ul li a
{
    text-decoration: none;
    color: #808080;
}

.contact_div ul li a:hover,
.contact_div ul li a:active
{
    text-decoration: none;
    color: #ffffff;
}

.contact_div input
{
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.4px;
    text-align: left;
    color: #808080;
    width: 231px;
    background-color: #171717;
    border: none;
    border-bottom: 1px solid #c2c2c2;
}

.contact_div input[type="text"],
.contact_div input[type="tel"]
{
    height: 50px;
}

.contact_div input[type="textarea"]
{
    height: 100px;
}

.contact_div input[type="submit"]
{
    margin-top: 24px;
    width: 125px;
    height: 36px;
    border-radius: 18px;
    background-color: #0087be;
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: 0.35px;
    text-align: center;
    color: #ffffff;  
    border: none;
}

footer
{
    height: 130px;
    object-fit: contain;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 130px;
    letter-spacing: 0.33px;
    text-align: center;
    color: #615555;   
    background-color: #1a1a1a;
}